* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 70%;
  }
  html .myUl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html .myUl li {
    margin-top: 2%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  html .mySection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html .mySection article h2 {
    padding-bottom: 5%;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 100%;
  }
}

html body {
  height: 100%;
}

html body header {
  background-color: #415d4f;
}

html body header h1 {
  text-align: center;
  padding-top: 3%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color: greenyellow;
}

html body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
}

html body header nav ul li {
  border: 2px solid black;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  background-color: indigo;
  list-style: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html body header nav ul li:hover {
  -webkit-transform: scale(1.2) translateY(-0.5rem);
          transform: scale(1.2) translateY(-0.5rem);
  -webkit-box-shadow: 7px 6px 7px black;
          box-shadow: 7px 6px 7px black;
}

html body header nav ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 5%;
  color: whitesmoke;
  display: inline-block;
}

html body header section p {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  padding-top: 5%;
  font-style: italic;
  color: turquoise;
}

html body header section span {
  display: block;
  padding-left: 41.2%;
  padding-top: 3%;
  padding-bottom: 3%;
}

html body header section span a {
  border: 2px solid black;
  padding: 2% 10%;
  background-color: indigo;
  color: whitesmoke;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
}

html body header section span a:hover {
  -webkit-transform: scale(1.2) translateY(-0.5rem);
          transform: scale(1.2) translateY(-0.5rem);
  -webkit-box-shadow: 10px 6px 4px black;
          box-shadow: 10px 6px 4px black;
}

html body main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
}

html body main section article {
  border: 2px solid black;
  background-color: #bfb7c7;
  -webkit-box-shadow: 8px 8px 8px black;
          box-shadow: 8px 8px 8px black;
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  margin: 2%;
  padding: 5%;
}

html body main section article h2 {
  padding-bottom: 10%;
}

html body footer {
  background-color: #c8d6bf;
  padding: 5%;
}

html body footer pre {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  position: absolute;
}

html body footer aside {
  padding-left: 60%;
}

html body footer aside p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  position: absolute;
}

html body footer aside div {
  margin-left: 60%;
}

html body footer aside div a:nth-child(1) {
  padding: 13%;
  border-radius: 100%;
  background-image: url("img/Facebook-512.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html body footer aside div a:nth-child(2) {
  margin-left: 40%;
  border-radius: 100%;
  padding: 13%;
  background-image: url("img/twitter_circle-512.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */