@import "abs.../mixins";
@import "abs.../varijable";
@import "base/reset";
@import "base/typography";
header {
    background-color: $hcolor;
    h1 {
        @include center;
        padding-top: 3%;
        @include naslov;
        color: greenyellow;
    }
    nav {
        ul {
            @include flex;
            padding-top: 3%;
            padding-left: 20%;
            padding-right: 20%;
            li {
                @include border;
                flex-basis: 30%;
                @include center;
                background-color: indigo;
                list-style: none;
                transition: all 0.5s;
                &:hover {
                    transform: scale(1.2) translateY(-0.5rem);
                    box-shadow: 7px 6px 7px black;
                }
                a {
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    padding: 5%;
                    color: whitesmoke;
                    display: inline-block;
                }
            }
        }
    }
    section {
        p {
            @include center;
            @include naslov;
            padding-top: 5%;
            font-style: italic;
            color:turquoise;
            font-size: larger;
        }
        span {
            display: block;
            padding-left: 41.2%;
            padding-top: 3%;
            padding-bottom: 3%;
            a {
                @include border;
                padding: 2% 10%;
                background-color: indigo;
                color: whitesmoke;
                text-decoration: none;
                transition: all 0.5s;
                display: inline-block;
                &:hover {
                    transform: scale(1.2) translateY(-0.5rem);
                    box-shadow: 10px 6px 4px black;
                }
            }
        }
    }
}
main {
    section {
        @include flex;
        padding-left: 4%;
        padding-right: 4%;
        article {
            @include border;
            background-color: $boxcolor;
            box-shadow: 8px 8px 8px black;
            flex-basis: 29%;
            margin: 2%;
            padding: 5%;
            h2 {
                padding-bottom: 10%;
            }
        }
    }
}
footer {
    padding: 5%;
    background-color: $fcolor;
    pre {
        @include naslov;
        position: absolute;
        font-size: 1.1vw;
    }
    aside {
        padding-left: 60%;
        p {
            @include naslov;
            position: absolute;
            font-size: 1.3vw;
        }
        div {
            margin-left: 60%;
            a:nth-child(1) {
                padding: 13%;
                border-radius: 100%;
                background-image: url('img/Facebook-512.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            a:nth-child(2) {
                margin-left: 40%;
                border-radius: 100%;
                padding: 13%;
                background-image: url('img/twitter_circle-512.webp');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
}